<h1>Toplantı Katılım Listesi</h1>
<table>
    <thead>
        <tr>
            <td>Ad Soyad</td>
            <td>Email</td>
            <td>Katılım Durumu</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mervan Özcan</td>
            <td>imervanozcan@gmail.com</td>
            <td>Evet</td>
            <td>
                <a href="#">Detay</a>
            </td>
        </tr>
        <tr>
            <td>Sadık Turan</td>
            <td>info@sadikturan.com</td>
            <td>Evet</td>
            <td>
                <a href="#">Detay</a>
            </td>
        </tr>
    </tbody>
</table>